* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#first {
    text-align: center;
    margin:20px;
    color:#03071e;

}

 

.container {
    text-align:center;
}
#entred {
    margin:60px auto;
    width:60%;
    padding:10px;
    border:none;
    border-radius: 12px;
    background-color: #c0d6dd;
    

}

#submit {
    background-color: #cb997e;
    padding:10px;
    cursor: pointer;
    border:none;
    border-radius: 12px;
    margin-left: -45px;;
}

 #text1 h1:first-child {
     margin-top: -20px;
 }
#text1 h1 {
    color:blue;
    display:flex;
    margin-bottom: 32px;
    justify-content: center;
     
    
}

#container1 {
    display: inline;
    display: flex;
    justify-content: space-evenly;
}
 

 

footer p
{
    text-align: center;
    font-size: 1.2em;
    margin-top: 300px;
    padding:12px;
    background-color: thistle;
    color:rgb(34, 30, 29);
}